@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;700&display=swap');

:root {
  --main-font: Poppins, Arial;
  --secondary-font: 'Dancing Script';
  --main-color: rgb(235, 242, 144);
  --secondary-color: rgb(243, 255, 74);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--main-color);
  overflow-x: hidden;
  margin-bottom: 1000px;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}